<div class="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div class="nav-container">
  <nav class="top-bar overlay-bar offscreen-menu drop-shadow">

    <div class="container">
    
      <div class="row utility-menu">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="utility-inner clearfix">
            <span class="alt-font btn-sm">
              <i class="icon icon_pin"></i> Bilbao | 43.2569° N, 2.9236° W</span>
            <div class="pull-right">
              <ul class="social-icons text-right">
                <li>
                  <a href="https://twitter.com/biojazzard">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/alfredo.llanos">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://plus.google.com/+AlfredoLlanos/">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div><!--end of row-->
    
    
      <div class="row nav-menu">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <a href="/">
            <div id="logo" class="logo" data-src="{{ site.baseurl }}/img/dot-a.svg" data-desc="DOT-A Alfredo Llanos">
            </div>
          </a>
        </div>
      
        <div class="col-sm-9 col-sm-9 col-md-10 col-lg-10">
          <div class="offscreen-toggle">
            <i class="icon icon_menu text-white pull-right"></i>
          </div>
        </div>
      </div><!--end of row-->
      
    </div><!--end of container-->

    <div class="offscreen-container">
        <div class="made-with">
          Made with Love ...
        </div>
        <div id="smiley" class="smiley" data-src="{{ site.baseurl }}/img/smiley.svg" data-desc="smiley">
        </div>
        <div class="made-with to-bottom">
          and some acid tracks!,
        </div>
    </div>

  </nav>
</div>