  <div class="main-container">

    <header class="fullscreen-element no-pad centered-text">
      <div class="background-image-holder parallax-background overlay">
        <img class="background-image" alt="Background Image" src="{{ site.baseurl }}/img/hero14.jpg"></div>

      <div class="container align-vertical">
        <div class="row">
          <div class="col-md-7 col-sm-8">
            <span class="text-white alt-font">html5 css javascript backend developer</span>
            <h1 class="text-white">Alfredo Llanos</h1>
            <p class="lead text-white"></p>
            <a href="#contacta" class="btn btn-transp" id="to-contact">Contacta</a>
            <a href="#blog-posts" class="btn btn-transp" id="to-blog">Blog</a>
            <a href="#" class="btn btn-primary btn-filled">1un.es</a>
          </div>
        </div>
      </div>

      <div class="bottom-band">
        <div class="container">
          <div class="row">
            <div id="last_tweets"></div>
          </div>
        </div>
      </div>
    </header>

    <section class="contact-thirds" id="contacta">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>
              Contact
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <h3>About</h3>
            <p>
              Web developer located in Bilbao.
            </p>

            <p>
              <strong>html5 css javascript backend developer</strong>
            </p>
          </div>

          <div class="col-sm-4 text-center">
            <h3>Details</h3>
            <p class="lead">
              <a href="tel:+34615757586"></a>[+34] 615 757 586
              <br>  
              <a href="mailto:alfredo@tallerdelsoho.es">alfredo@tallerdelsoho.es</a>
              <br>  
              <br>  
              2 de Mayo 4
              <br>48003 Bilbao</p>
          </div>

          <div class="col-sm-4">
            <h3>Leave a note</h3>
            <div class="form-wrapper clearfix">
              <form class="form-contact email-form">
                <div class="inputs-wrapper">
                  <input class="form-name validate-required" type="text" placeholder="Your Name" name="name"> 
                  <input class="form-email validate-required validate-email" type="text" placeholder="Your Email Address" name="email"> 
                  <textarea class="form-message validate-required" name="message" placeholder="Your Message"></textarea>
                </div>
                <input type="submit" class="send-form btn btn-default" value="Send Form"> 
                <div class="form-success">
                  <span class="text-white">Message sent - Thanks for your enquiry</span>
                </div>
                <div class="form-error">
                  <span class="text-white">Please complete all fields correctly</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>