@white:           hsla(139, 3%, 97%, 1);
@black:           hsla(139, 3%, 3%, 1);

@mpad: 10px;

// Mixins 

.bg (@bg-1, @bg-2, @rad: -45deg) {
  .background-image(linear-gradient(to top, fadeout(@bg-1, 50%) 25%, fadeout(@bg-2, 50%) 100%),linear-gradient(@rad, fadeout(@bg-1, 8%) 25%, fadeout(@bg-2, 8%) 75%));
}

.round-btn (@ratio: 1) {
  width: @mpad * 12 * @ratio;
  height: @mpad * 12 * @ratio;
  padding-top: @mpad * 3.0 * @ratio; 
  padding-bottom: @mpad * 3.0 * @ratio;
  padding-left: @mpad * 1.5 * @ratio;
  padding-right: @mpad * 1.5 * @ratio;
  line-height: @mpad * 1.5 * @ratio; 
  font-size: @mpad * 1.5 * @ratio;
  span {
    line-height:  @mpad * 3.0 * @ratio; 
    font-size: @mpad * 3.0 * @ratio; 
  }
}

.font-redux (@head-col: @brand-primary, @text-col: @text-color, @reduc: 1) {
  h1, h2, h3, h4, h5, h6 {
    color: @head-col;      
  }
  p, ul {
    color: @text-col;      
  }
  h1 {
    font-size: @font-size-h1 * @reduc;
    margin-bottom: (@font-size-h1 * @reduc) / 4;
    margin-top: (@font-size-h1 * @reduc) / 4;
  }
  h2 {
    font-size: @font-size-h2 * @reduc;
    margin-bottom: (@font-size-h2 * @reduc) / 4;
    margin-top: (@font-size-h2 * @reduc) / 4;
  }
  h3 {
    font-size: @font-size-h3 * @reduc;
    margin-bottom: (@font-size-h3 * @reduc) / 4;
    margin-top: (@font-size-h3 * @reduc) / 4;
  }
  h4 {
    font-size: @font-size-h4 * @reduc;
    margin-bottom: (@font-size-h4 * @reduc) / 4;
    margin-top: (@font-size-h4 * @reduc) / 4;
  }
  h5 {
    font-size: @font-size-h5 * @reduc;
    margin-bottom: (@font-size-h5 * @reduc) / 4;
    margin-top: (@font-size-h5 * @reduc) / 4;
  }
  h6 {
    font-size: @font-size-h6 * @reduc;
    margin-bottom: (@font-size-h6 * @reduc) / 4;
    margin-top: (@font-size-h6 * @reduc) / 4;
  } 
  p.lead,
  p {
    //margin-bottom: (@font-size-base * @reduc) / 4;
    //margin-top: (@font-size-base * @reduc) / 4;
    font-size: @font-size-base * @reduc;
    &:last-child {
      margin-top: (@font-size-base * @reduc) / 2;
    }
  } 
}