lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes Lunes{ 0% { background-position: 0% 50%} 50% { background-position: 100% 50% } 100% { background-position: 0% 50% }}
@-moz-keyframes Lunes{ 0% { background-position: 0% 50%} 50% { background-position: 100% 50% } 100% { background-position: 0% 50% }}
@-o-keyframes Lunes{ 0% { background-position: 0% 50%} 50% { background-position: 100% 50% } 100% { background-position: 0% 50% }}
@keyframes Lunes{ 0% { background-position: 0% 50%} 50% { background-position: 100% 50% } 100% { background-position: 0% 50% }}
[not-existing] {
  zoom: 1;
}
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}
html.A5 {
  font-size: 70.70707071%;
}
html.A4 {
  font-size: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: url(../img/dark_linen-1024x1024.png);
  display: block;
  height: 100%;
  align-items: center;
  justify-content: center;
  --mdc-theme-text-primary-on-light: rgba(1, 1, 1, 0.59);
  --mdc-theme-text-primary-on-dark: #FFFFFF;
  --mdc-theme-surface: rgba(1, 1, 1, 0.59);
  --mdc-theme-on-surface: #FFFFFF;
  color: var(--mdc-theme-text-primary-on-light);
}
body a {
  color: var(--mdc-theme-text-primary-on-light);
  text-decoration: none;
}
body aside {
  border-right-color: rgba(1, 1, 1, 0.59);
  border-right-style: dashed;
  border-bottom-color: rgba(1, 1, 1, 0.59);
  border-bottom-style: dashed;
}
body > .sheet {
  background-color: var(--mdc-theme-on-surface);
}
body h1,
body h3 {
  color: #FFFFFF;
  background-color: rgba(1, 1, 1, 0.59);
  border-top-right-radius: 1rem;
}
body .dot-a {
  background-image: url(../svg/dot-a-black.svg);
}
body.dark {
  transition: all 0.618s ease-in-out;
  color: var(--mdc-theme-text-primary-on-dark);
}
body.dark .dot-a {
  background-image: url(../svg/dot-a.svg);
}
body.dark aside {
  border-right-color: rgba(255, 255, 255, 0.2);
  border-right-style: dashed;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-style: dashed;
}
body.dark > .sheet {
  background: linear-gradient(-45deg, #b65133, #ac2a5c, #116280, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Lunes 18s ease-in-out infinite;
  -moz-animation: Lunes 18s ease-in-out infinite;
  -o-animation: Lunes 18s ease-in-out infinite;
  animation: Lunes 18s ease-in-out infinite;
}
body.dark a {
  color: var(--mdc-theme-text-primary-on-dark);
}
body.dark h1,
body.dark h3 {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 1rem;
}
body.A5 {
  display: flex;
}
body.A5 section {
  display: flex;
  flex-direction: unset;
}
body.A5.portait section {
  display: flex;
  flex-direction: column;
}
body.A4 {
  display: flex;
  display: flow-root;
}
body.A4 section {
  display: flex;
  flex-direction: unset;
}
body.A4.portait {
  display: flow-root;
}
body.A4.portait section {
  display: flex;
  flex-direction: column;
}
body.AA {
  margin: .5rem;
}
body.AA .buttons {
  display: none;
}
body.AA section {
  margin: 0;
}
body.AA footer {
  position: relative;
  visibility: visible;
}
body.AA p {
  overflow: hidden;
}
body.AA.portait .flex-row-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body.AA.landscape .flex-row-col {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}
body.A5.portait .flex-row-col,
body.A4.portait .flex-row-col {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body.A5.landscape .flex-row-col,
body.A4.landscape .flex-row-col {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sheet.opened {
  opacity: .3;
}
@media only screen {
  .sheet {
    overflow: auto !important;
  }
}
aside {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  border-right-width: 0 !important;
  border-bottom-width: 2mm !important;
  padding: 3.53535354mm;
  z-index: 1;
}
aside.portait {
  border-right-width: 0 !important;
  border-bottom-width: 2mm !important;
}
aside.landscape {
  padding: 7.07070707mm 4.99948985mm 7.07070707mm 7.07070707mm;
  border-right-width: 2mm !important;
  border-bottom-width: 0 !important;
}
aside.A5 {
  padding: 7.07070707mm 4.99948985mm 7.07070707mm 7.07070707mm;
  width: 113.454mm;
}
aside.A5.portait {
  width: 100%;
  padding: 7.07070707mm 7.07070707mm 3.53535354mm;
}
aside.A4 {
  padding: 10mm 7.07070707mm 10mm 10mm;
  width: 113.454mm;
}
aside.A4.portait {
  width: 100%;
  padding: 10mm 10mm 5mm 10mm;
}
aside .logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
aside .logo .dot-a {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 50%;
  opacity: 0.51;
}
aside .about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 0 0;
  margin-right: 5mm;
}
aside .about.plus {
  flex: 1;
}
aside .about:last-of-type {
  margin-right: 0;
}
aside .flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
article {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  z-index: 1;
  padding: 4.99948985mm 7.07070707mm 0 4.99948985mm;
}
article.portait {
  padding: 3.53535354mm 3.53535354mm 3.53535354mm;
}
article.portait .services,
article.portait .clients {
  flex-direction: column;
}
article.A5 {
  padding: 7.07070707mm 7.07070707mm 7.07070707mm 4.99948985mm;
  width: 210mm;
}
article.A5 .services,
article.A5 .clients {
  flex-direction: row;
}
article.A5 .services .service:last-of-type,
article.A5 .clients .service:last-of-type,
article.A5 .services .client:last-of-type,
article.A5 .clients .client:last-of-type {
  margin-right: 0;
}
article.A5.portait {
  width: 100%;
  padding: 3.53535354mm 7.07070707mm 7.07070707mm;
}
article.A5.portait .services,
article.A5.portait .clients {
  flex-direction: row;
}
article.A4 {
  padding: 10mm 10mm 10mm 7.07070707mm;
  width: 210mm;
}
article.A4 .services,
article.A4 .clients {
  flex-direction: row;
}
article.A4 .services .service:last-of-type,
article.A4 .clients .service:last-of-type,
article.A4 .services .client:last-of-type,
article.A4 .clients .client:last-of-type {
  margin-right: 0;
}
article.A4.portait {
  width: 100%;
  padding: 5mm 10mm 10mm;
}
article.A4.portait .services,
article.A4.portait .clients {
  flex-direction: row;
}
article .flex-spacer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 0 0 0 0;
}
article .clients-head {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 0 0;
}
article .clients {
  margin-right: 0;
  display: flex;
  width: 100%;
  padding: 0 0 0 0;
}
article .clients .client {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5mm;
  /*
      &:last-of-type {
        margin-right: 0;
      }
      */
}
article .services {
  display: flex;
  width: 100%;
  padding: 0 0 0 0;
}
article .services .service {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5mm;
}
article svg {
  flex: 1;
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  visibility: hidden;
  padding: 1rem;
  left: 0;
  right: 0;
  top: 0;
  font-size: .618rem;
}
header .page-logo {
  float: right;
  width: 2rem;
  height: 2rem;
  background: url(../img/dot-a-dark.png) no-repeat;
  background-size: contain;
}
footer {
  position: fixed;
  visibility: hidden;
  padding: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: .618rem;
}
footer .lunes {
  display: block;
  float: right;
}
footer .lunes a {
  color: #ABACAD;
  text-decoration: none;
}
h1,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.14rem 0.4rem 0.2rem 0.4rem;
}
h1 > span,
h3 > span {
  color: inherit;
}
h2,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.14rem 0.4rem 0.2rem 0.4rem;
}
h2 > span,
h4 > span,
h5 > span,
h6 > span {
  color: inherit;
}
pre,
p,
table,
ul,
ol {
  -webkit-font-smoothing: auto;
  margin: 0.14rem 0.4rem 0.2rem 0.4rem;
  font-family: 'Roboto Condensed', sans-serif;
}
pre strong,
p strong,
table strong,
ul strong,
ol strong {
  -webkit-font-smoothing: antialiased;
}
pre,
p {
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: inherit;
  line-height: 1.4;
}
p > code,
code,
kbd,
samp {
  font-size: inherit;
  font-family: monospace;
  font-size: .3rem;
}
ul {
  text-indent: -1rem;
  padding: 0 0 0 1rem;
  font-size: 1rem;
  list-style-type: none;
  margin: 0.14rem 0.4rem 0.2rem 0.4rem;
}
ul li {
  line-height: 1.4;
  margin-bottom: .2rem;
}
h1 {
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: .92rem;
  zoom: 1;
  filter: alpha(opacity=72);
  -webkit-opacity: 0.72;
  -moz-opacity: 0.72;
  opacity: 0.72;
}
h6 {
  font-weight: 400;
  font-size: .92rem;
}
p {
  white-space: pre-wrap;
}
pre {
  white-space: pre-wrap;
}
img {
  max-width: 100%;
}
hr {
  border: none;
  height: .1rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
}
a {
  color: #010101;
  text-decoration: none;
}
.float-right {
  float: right;
}
.lower {
  text-transform: lowercase !important;
}
[contenteditable] {
  font-weight: 700;
}
[contenteditable]:hover {
  background-color: yellow;
}
.dz-preview {
  position: fixed;
  visibility: hidden;
}
.dz-preview.opened {
  position: absolute;
  visibility: visible;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 32vh;
  padding: 10mm;
  background: #010101;
  color: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
  background-color: #010101;
  background-image: url(../svg/L1V3dOXS.svg);
  background-position: 10% 90%;
  background-repeat: no-repeat;
}
.dz-preview.opened:after {
  content: '';
  position: absolute;
  left: -32vh;
  top: -32vh;
  right: -32vh;
  bottom: -32vh;
}
.dz-preview .dz-details {
  float: left;
  text-align: left;
  padding: 1rem;
}
.dz-preview .dz-success-mark {
  float: right;
  width: 5rem;
  height: 5rem;
}
.dz-preview .dz-success-mark svg {
  width: 100%;
  height: 100%;
}
.dz-preview .dz-error-mark {
  display: none;
}
.dz-preview .dz-image {
  float: left;
  background: white;
  border-radius: 1rem;
}
.dz-preview .dz-image img {
  width: 5rem;
  height: 5rem;
}
@media print {
  body {
    background: none;
  }
  body.A5 {
    font-size: 70.70707071%;
  }
  body.A4 {
    font-size: 100%;
  }
  .sheet {
    overflow: visible !important;
  }
  header,
  footer {
    visibility: visible !important;
  }
  /*
  h2 { 
    page-break-before: always;
  }
  h3, h4 {
    page-break-after: avoid;
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
  */
  .buttons {
    display: none;
  }
  .buttons .mdc-fab {
    display: none;
  }
}
::-webkit-scrollbar {
  width: .2rem;
}
::-webkit-scrollbar-track {
  border-radius: .2rem;
}
::-webkit-scrollbar-thumb {
  border-radius: .2rem;
  background-color: #ABACAD;
}
.buttons {
  z-index: 1;
  position: fixed;
  top: 1rem;
  right: 1rem;
}
